server:
  port: 8080
spring:
  application:
    name: order-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: orderdb
  kafka:
    bootstrap-servers: localhost:9092
    properties:
      linger-ms: 1
  jackson:
    deserialization:
      fail-on-unknown-properties: true